{% extends "base.html" %}

{% block content %}

<h1>💻 Device Inventory</h1>

<input
type="text"
id="searchInput"
placeholder="Search IP, Hostname, MAC or Vendor..."
onkeyup="searchTable()">

<table id="deviceTable">

    <thead>

        <tr>

            <th>IP Address</th>
            <th>Hostname</th>
            <th>MAC Address</th>
            <th>Vendor</th>
            <th>Status</th>
            <th>Risk</th>
            <th>Score</th>
            <th>Action</th>

        </tr>

    </thead>

    <tbody>

    {% for device in devices %}

        <tr>

            <td>{{ device["ip"] or "-" }}</td>

            <td>{{ device["hostname"] or "-" }}</td>

            <td>{{ device["mac"] or "-" }}</td>

            <td>{{ device["vendor"] or "-" }}</td>

            <td>

                {% if device["status"]=="Online" %}

                    <span class="badge online">
                        🟢 Online
                    </span>

                {% else %}

                    <span class="badge offline">
                        🔴 Offline
                    </span>

                {% endif %}

            </td>

            <td>

                {% if device["risk"]=="Low" %}

                    <span class="badge low">
                        🟢 Low
                    </span>

                {% elif device["risk"]=="Medium" %}

                    <span class="badge medium">
                        🟡 Medium
                    </span>

                {% elif device["risk"]=="High" %}

                    <span class="badge high">
                        🔴 High
                    </span>

                {% else %}

                    {{ device["risk"] }}

                {% endif %}

            </td>

            <td>{{ device["score"] }}</td>

            <td>

                <a href="/device/{{ device['id'] }}">

                    <button class="view-btn">

                        View

                    </button>

                </a>

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

<script>

function searchTable(){

    let input=document.getElementById("searchInput");

    let filter=input.value.toUpperCase();

    let rows=document.querySelectorAll("#deviceTable tbody tr");

    rows.forEach(function(row){

        if(row.innerText.toUpperCase().includes(filter)){

            row.style.display="";

        }

        else{

            row.style.display="none";

        }

    });

}

</script>

{% endblock %}
